/* Modal Dialogs */

.headline {
  @extend %title_4;
}

.modal-dialog {
  background-color: $bg_color;
  border-radius: $modal_radius;
//  box-shadow: inset 0 0 0 1px $outer_borders_color;

  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 160px;

  .modal-dialog-content-box {
    margin: $base_margin * 8 $base_margin * 10;
    spacing: $base_margin * 8;
    max-width: 28em;
  }

  .modal-dialog-linked-button {
    @extend %bubble_button;
  }
}

/* End Session Dialog */
.end-session-dialog {
  width: 30em;

  .end-session-dialog-battery-warning,
  .dialog-list-title {
    color: $warning_color;
  }
}

/* Message Dialog */
.message-dialog-content {
  spacing: $base_padding * 3;

  .message-dialog-title {
    text-align: center;
    @extend %title_2;

    &.lightweight { @extend %title_4;}
  }
  .message-dialog-description { text-align: center; }
}

/* Dialog List */
.dialog-list {
  spacing: $base_padding * 3;

  .dialog-list-title {
    text-align: center;
    @extend %heading;
  }

  .dialog-list-scrollview { max-height: 200px; }
  .dialog-list-box {
    spacing: 1em;

    .dialog-list-item {
      spacing: 1em;

      .dialog-list-item-title { font-weight: bold; }
      .dialog-list-item-description {
        color: darken($fg_color,5%);
        @extend %caption;
      }
    }
  }
}

/* Run Dialog */
.run-dialog {
  .modal-dialog-content-box {
    margin-top: $base_padding * 4;
    margin-bottom: $base_padding * 2;
  }
  .run-dialog-entry { width: 20em; }
  .run-dialog-description {
    @extend %caption;
    text-align: center;
    color: darken($fg_color, 20%);
  }
}

/* Password or Authentication Dialog */

.prompt-dialog {
  width: 28em;

  .modal-dialog-content-box {
    margin-bottom: $base_margin * 6;
  }
}

.prompt-dialog-password-grid {
  spacing-rows: $base_margin * 2;
  spacing-columns: $base_margin;

  .prompt-dialog-password-entry {
    width: auto;

    // 4px (spacing) + 16px (spinner-width)
    &:ltr { margin-left: $base_margin+$base_icon_size; }
    &:rtl { margin-right: $base_margin+$base_icon_size; }
  }
}

.prompt-dialog-password-layout {
  spacing: $base_margin * 2;
}

.prompt-dialog-password-entry {
  width: 20em;
}

.prompt-dialog-error-label,
.prompt-dialog-info-label,
.prompt-dialog-null-label {
  text-align: center;
  @extend %caption;
}

.prompt-dialog-error-label {
  color: $warning_color;
}


/* Polkit Dialog */

.polkit-dialog-user-layout {
  text-align: center;
  spacing: $base_margin * 2;
  margin-bottom: $base_padding;

  .polkit-dialog-user-root-label { color: $warning_color; }
}

/* Audio selection dialog */
.audio-device-selection-dialog {
  .modal-dialog-content-box { margin-bottom: $base_margin * 7; }
  .audio-selection-box { spacing: $base_margin * 5; }
}

.audio-selection-device {
  border-radius: $base_border_radius * 2;
  &:hover,&:focus { background-color: $hover_bg_color; }
  &:active {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
}

.audio-selection-device-box {
  padding: $base_margin * 5;
  spacing: $base_margin * 5;
}

.audio-selection-device-icon {
  icon-size: $base_icon_size * 4;
}

/* Welcome dialog */
.welcome-dialog-image {
  background-image: url("resource:///org/gnome/shell/theme/gnome-shell-start.svg");
  background-size: contain;
  /* Reasonable maximum dimensions */
  height: 300px;
  width: 300px;
}

/* Access portal dialog */
.access-dialog {
  text-align: center;
}
