/* OVERVIEW */

.secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

.tmp-overlay {
  background-color: #fafafa;
 // border-radius: 10px;
  box-shadow: 0 4px 11px 4px transparentize(darken($osd_bg_color, 30%), 0.7);

  &.dark-mode-enabled {
    background-color: #242424;
  }
}

#overviewGroup {
  background-color: $system_base_color;
}

.overview-controls {
  padding-bottom: $base_margin * 8;
}
